Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)

fix skipping of client_test python test on non-linux
  bindings/python/tests/client_test.py
Due: none

add asynchronous overload of torrent_handle::add_piece()
  ChangeLog
  include/libtorrent/torrent.hpp
  include/libtorrent/torrent_handle.hpp
  src/torrent.cpp
  src/torrent_handle.cpp
  test/test_remap_files.cpp
  test/test_resume.cpp
  test/test_torrent.cpp
Due: gen_convenience_header

fix privilege issue with SetFileValidData()
  ChangeLog
  src/mmap.cpp
Due: none

use the async overload of add_piece() in python binding
  bindings/python/src/torrent_handle.cpp
Due: none

add missing protocol version to tracker_reply_alert and tracker_error_alert
  ChangeLog
  bindings/python/src/alert.cpp
  examples/client_test.cpp
  include/libtorrent/alert_types.hpp
  src/alert.cpp
  src/torrent.cpp
Due: gen_alert_header, gen_convenience_header

add new overload to make_magnet_uri that takes an add_torrent_params
  ChangeLog
  bindings/python/src/magnet_uri.cpp
  include/libtorrent/magnet_uri.hpp
  src/magnet_uri.cpp
  test/test_magnet.cpp
Due: gen_convenience_header

fix CPU benchmark for uploading and downloading
  tools/parse_session_stats.py
  tools/run_benchmark.py
Due: none

fixup cpu benchmark
  tools/run_benchmark.py
Due: none

unify default limits when loading torrents in torrent_info constructor
  src/torrent_info.cpp
  test/test_torrent.cpp
  test/test_torrent_info.cpp
Due: none

ut_metadata: don't request the same block more than once every 3 seconds unless the source is disconnected
  src/ut_metadata.cpp
Due: none

use default settings in set_piece_hashes
  src/create_torrent.cpp
Due: none

Post add_torrent_alert after torrent is fully initialized
  src/session_impl.cpp
Due: none

interrupt http_connection::on_resolve() for closed commection
  src/http_connection.cpp
Due: none

removed unused file, minor namespace refactor
  include/libtorrent/extensions.hpp
  src/alert_manager.cpp
  src/bandwidth_limit.cpp
  src/bandwidth_manager.cpp
  src/bandwidth_queue_entry.cpp
  src/chained_buffer.cpp
  src/directory.cpp
  src/disk_io_thread_pool.cpp
  src/http_seed_connection.cpp
Due: gen_convenience_header

fix file_num_blocks() and file_num_pieces() for empty files
  ChangeLog
  src/file_storage.cpp
  test/test_file_storage.cpp
Due: none

move m_abort check to the top of on_resolve
  src/http_connection.cpp
Due: none

check m_abort after error handling
  src/http_connection.cpp
Due: none

trailing tab remove
  src/http_connection.cpp
Due: none

random cleanup
  include/libtorrent/torrent_info.hpp
  src/create_torrent.cpp
  test/test_create_torrent.cpp
  test/test_privacy.cpp
  test/test_torrent.cpp
  test/test_torrent_info.cpp
  test/test_tracker.cpp
Due: gen_convenience_header

WIP: force_copy flag to move_storage()
  include/libtorrent/storage_defs.hpp
  src/storage_utils.cpp
  test/test_storage.cpp
Due: gen_convenience_header

interrupt http_connection::on_resolve() for closed commection (#6901)
  src/http_connection.cpp
Due: none

update alert_order test
  simulation/test_torrent_status.cpp
Due: none

ignore visual studio files and folders
  .gitignore
Due: none
