Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)

poll for new endpoints when forcing a tracker announce
  include/libtorrent/torrent.hpp
  src/torrent.cpp
Due: gen_convenience_header

update handler sizes for debug builds
  include/libtorrent/aux_/allocating_handler.hpp
Due: none

keep trying to announce to trackers even when all fail
  ChangeLog
  src/announce_entry.cpp
  src/torrent.cpp
  test/test_alert_manager.cpp
  test/test_dht.cpp
Due: none

retry all trackers when force announcing
  src/torrent.cpp
Due: none

only ever set min_interval on tracker entries based on responses from trackers
  src/torrent.cpp
Due: none

default TOS marking to 0x04 (LE)
  include/libtorrent/settings_pack.hpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

retry choco install openssl if it fails on CI
  .github/workflows/python.yml
Due: none

update Changelog
  ChangeLog
  include/libtorrent/socket.hpp
Due: gen_convenience_header

set DSCP_TRAFFIC_TYPE socket option on windows
  CMakeLists.txt
  include/libtorrent/Makefile.am
  include/libtorrent/aux_/set_traffic_class.hpp
  include/libtorrent/socket.hpp
  src/peer_connection.cpp
  src/session_impl.cpp
Due: gen_convenience_header

Revert "update boost version requirement in documentation"
  docs/building.rst
  docs/upgrade_to_2.0.rst
Due: none

Revert "harmonize the boost version and path in build doc examples"
  docs/building.rst
Due: none

fix sign conversions
  include/libtorrent/socket.hpp
Due: gen_convenience_header

limit output from choco install command line more, on CI
  .github/workflows/python.yml
  .github/workflows/windows.yml
Due: none

Revert "Restrict some github actions by path"
  .github/workflows/android.yml
  .github/workflows/c.yml
  .github/workflows/macos.yml
  .github/workflows/python.yml
  .github/workflows/windows.yml
Due: none

fix const_cast in create_torrent
  include/libtorrent/create_torrent.hpp
  src/create_torrent.cpp
Due: gen_convenience_header

clarify create_torrent constructor documentation
  include/libtorrent/create_torrent.hpp
Due: gen_convenience_header

fix DHT announce timer issue
  ChangeLog
  src/session_impl.cpp
Due: none

Use UTF-8 encoding for messages coming from boost on Windows
  CMakeLists.txt
  Jamfile
Due: none

Remove redundant compiler warning flag
  CMakeLists.txt
Due: none

correct deprecated settings
  src/settings_pack.cpp
Due: none

remove redundant calls to convert_from_native() on system error messages (now that we build with BOOST_SYSTEM_USE_UTF8
  include/libtorrent/alert_types.hpp
  src/alert.cpp
  src/natpmp.cpp
  src/torrent.cpp
  src/upnp.cpp
Due: gen_alert_header, gen_convenience_header

fix part files being marked as hidden on windows
  ChangeLog
  src/file.cpp
Due: none

mark read_cache_line_size and write_cache_line_size as deprecated. The no longer affect anything
  include/libtorrent/settings_pack.hpp
  src/session.cpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header
