Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

gen_header:
  name: gen_header
  language: system
  entry: ./bindings/c/tools/gen_header.py

gen_alert_header:
  name: gen_alert_header
  language: system
  entry: ./bindings/c/tools/gen_alert_header.py

gen_convenience_header:
  name: gen_convenience_header
  language: system
  entry: ./tools/gen_convenience_header.py

Backport setup.py formatting from master (RC_1_2 only)
  .pre-commit-config.yaml
  bindings/python/setup.py
  setup.py
Due: none

cmake: refine atomics check
  CMakeLists.txt
Due: none

speed up the peer_conn fuzzer by allowing multiple simultaneous connections
  fuzzers/src/peer_conn.cpp
Due: none

fix jamfile to not apply -export-dynamic to clang
  Jamfile
Due: none

simplify part of pe_crypto, init_bt_handshake and stats accounting
  include/libtorrent/bt_peer_connection.hpp
  include/libtorrent/pe_crypto.hpp
  src/bt_peer_connection.cpp
Due: gen_convenience_header

fix build with encryption support disabled
  include/libtorrent/aux_/torrent_list.hpp
Due: none

fixup alert python test
  bindings/python/tests/alert_test.py
Due: none

disable windows store CI build
  .github/workflows/windows.yml
Due: none

Remove non-existant IFLA_* on non-x86_64 archs
  src/enum_net.cpp
Due: none

Remove non-existant IFLA_* on non-x86_64 archs (RC2 branch)
  src/enum_net.cpp
Due: none

bump version to 1.2.16
  ChangeLog
  Jamfile
  bindings/python/setup.py
  build_dist.sh
  configure.ac
  docs/header.rst
  docs/hunspell/libtorrent.dic
  include/libtorrent/version.hpp
  src/kademlia/dht_tracker.cpp
  src/settings_pack.cpp
Due: gen_convenience_header

bump version (2.0.6)
  ChangeLog
  Jamfile
  Makefile
  bindings/python/setup.py
  docs/header.rst
  docs/hunspell/libtorrent.dic
  include/libtorrent/version.hpp
  src/settings_pack.cpp
Due: gen_convenience_header

fix bdecode support for large strings (>= 100 MB)
  ChangeLog
  include/libtorrent/bdecode.hpp
  src/bdecode.cpp
  test/test_bdecode.cpp
Due: gen_convenience_header

Capture `this` explicitly in lambda
  src/posix_disk_io.cpp
  src/resolver.cpp
  src/torrent_handle.cpp
Due: none

fix cmake warning about CMP0053
  cmake/Modules/GeneratePkgConfig.cmake
Due: none

explicitly set cmake policy CMP0007 to NEW on pkg-config generation
  cmake/Modules/GeneratePkgConfig/generate-pkg-config.cmake.in
Due: none

rename peer_tos -> peer_dscp
  ChangeLog
  docs/gen_settings_doc.py
  include/libtorrent/aux_/session_impl.hpp
  include/libtorrent/settings_pack.hpp
  src/peer_connection.cpp
  src/session_impl.cpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

fix peer_list::is_connect_candidate for share_mode
  include/libtorrent/peer_list.hpp
  src/peer_list.cpp
  src/torrent.cpp
Due: gen_convenience_header

back-port atomics detection in cmake
  CMakeLists.txt
Due: none

fixed pkg-config file libraries list generation
  cmake/Modules/GeneratePkgConfig/generate-pkg-config.cmake.in
Due: none

removed unused variable in torrent.cpp
  src/torrent.cpp
Due: none

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)
