Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

gen_header:
  name: gen_header
  language: system
  entry: ./bindings/c/tools/gen_header.py

gen_alert_header:
  name: gen_alert_header
  language: system
  entry: ./bindings/c/tools/gen_alert_header.py

gen_convenience_header:
  name: gen_convenience_header
  language: system
  entry: ./tools/gen_convenience_header.py

add comment, created_by and creation_date to add_torrent_params, to complete it representing a .torrent file
  ChangeLog
  bindings/python/src/session.cpp
  include/libtorrent/add_torrent_params.hpp
  src/load_torrent.cpp
  src/torrent.cpp
  src/write_resume_data.cpp
Due: gen_convenience_header

Reset uTP timeout when sending packets Also reset timeout after processing acks/sacks instead of before when recieving packets as it can effect the timeout period
  src/utp_stream.cpp
Due: none

Don't drop uTP's cwnd below 1*MSS due to latency
  simulation/test_torrent_status.cpp
  src/utp_stream.cpp
Due: none

add option to not memory map files below a certain size
  ChangeLog
  include/libtorrent/aux_/mmap.hpp
  include/libtorrent/aux_/open_mode.hpp
  include/libtorrent/settings_pack.hpp
  src/mmap.cpp
  src/mmap_storage.cpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

For efficiency, pick up and send an undersized utp packet if there's room in the congestion window when 'forcing' a packet
  src/utp_stream.cpp
Due: none

Modify the Nagle algorithm to allow one undersized packet in flight at a time
  src/utp_stream.cpp
Due: none

Reset uTP timeout when sending packets
  src/utp_stream.cpp
Due: none

expose mmapped file_open_mode flag
  bindings/python/src/torrent_handle.cpp
  examples/client_test.cpp
  include/libtorrent/aux_/file_view_pool.hpp
  include/libtorrent/disk_interface.hpp
  src/file_view_pool.cpp
  test/test_file.cpp
Due: gen_convenience_header

Update changelog
  ChangeLog
Due: none

Prevent redundant deferred utp acks from being sent
  src/utp_stream.cpp
Due: none

update changelog
  ChangeLog
Due: none

update documentation for torrent_handle::save_resume_data
  examples/bt-get2.cpp
  examples/bt-get3.cpp
  include/libtorrent/torrent_handle.hpp
  src/torrent.cpp
Due: gen_convenience_header

fix flaky tests
  test/setup_transfer.cpp
  test/test_recheck.cpp
  test/test_remove_torrent.cpp
  test/test_resolve_links.cpp
Due: none

Update state when need to save resume data
  include/libtorrent/torrent.hpp
  src/torrent.cpp
Due: gen_convenience_header

fix uses of deprecated functions in simulations
  simulation/disk_io.cpp
  simulation/test_checking.cpp
  simulation/test_socks5.cpp
  simulation/test_transfer.cpp
  simulation/test_v2.cpp
Due: none

fix bug in hash_picker with empty files
  ChangeLog
  simulation/test_transfer.cpp
  src/hash_picker.cpp
Due: none

update projects page
  docs/hunspell/libtorrent.dic
  docs/projects.rst
Due: none

fix trackers being stuck after session pause/resume
  ChangeLog
  simulation/test_tracker.cpp
  src/torrent.cpp
Due: none

add some utility member functions to create_torrent
  include/libtorrent/create_torrent.hpp
Due: gen_convenience_header

simplify disk_buffer_pool. separate reader and writer pool
  CMakeLists.txt
  Jamfile
  Makefile
  include/libtorrent/aux_/disk_buffer_pool.hpp
  include/libtorrent/aux_/simple_buffer_pool.hpp
  src/disk_buffer_pool.cpp
  src/mmap_disk_io.cpp
  src/posix_disk_io.cpp
  src/simple_buffer_pool.cpp
Due: none

restore mmap_cache
  include/libtorrent/aux_/disk_buffer_pool.hpp
  include/libtorrent/settings_pack.hpp
  src/disk_buffer_pool.cpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)
