Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)

ignore visual studio files and folders
  .gitignore
Due: none

improve backwards compatibility with loading magnet link resume files
  ChangeLog
  src/session_handle.cpp
Due: none

fix extra copy
  src/file_storage.cpp
Due: none

use sync_file_range() on linux, when disabling write cache
  ChangeLog
  include/libtorrent/config.hpp
  src/mmap.cpp
  test/test_transfer.cpp
Due: gen_convenience_header

init
  include/libtorrent/file_storage.hpp
  src/file_storage.cpp
  test/test_file_storage.cpp
Due: gen_convenience_header

fix code style
  include/libtorrent/file_storage.hpp
  src/file_storage.cpp
Due: gen_convenience_header

fix tabs in tests
  test/test_file_storage.cpp
Due: none

move the protocol version field for tracker alerts into the tracker_alert baseclass
  include/libtorrent/alert_types.hpp
  src/alert.cpp
  src/torrent.cpp
Due: gen_alert_header, gen_convenience_header

update test SSL certificates
  test/ssl/dhparams.pem
  test/ssl/invalid_peer_certificate.pem
  test/ssl/invalid_peer_private_key.pem
  test/ssl/peer_certificate.pem
  test/ssl/peer_private_key.pem
  test/ssl/regenerate_test_certificate.sh
  test/ssl/root_ca_cert.pem
  test/ssl/root_ca_private.pem
  test/ssl/server.pem
Due: none

load_torrent
  CMakeLists.txt
  ChangeLog
  Jamfile
  Makefile
  examples/client_test.cpp
  include/libtorrent/alert_types.hpp
  include/libtorrent/load_torrent.hpp
  include/libtorrent/torrent_info.hpp
  src/create_torrent.cpp
  src/load_torrent.cpp
  test/test_torrent.cpp
  test/test_torrent_info.cpp
Due: gen_alert_header, gen_convenience_header

python binding
  Makefile
  bindings/python/CMakeLists.txt
  bindings/python/Jamfile
  bindings/python/src/load_torrent.cpp
  bindings/python/src/module.cpp
  bindings/python/test.py
Due: none

fix warnings
  include/libtorrent/aux_/torrent_list.hpp
  include/libtorrent/info_hash.hpp
  src/torrent.cpp
  test/setup_transfer.cpp
Due: gen_convenience_header

fix issue with merging two magnet link torrents into one hybrid
  ChangeLog
  simulation/Jamfile
  simulation/test_v2.cpp
  src/session_impl.cpp
  src/torrent.cpp
Due: none

add documentation
  docs/gen_reference_doc.py
  docs/manual.rst
  include/libtorrent/alert_types.hpp
  include/libtorrent/session_handle.hpp
Due: gen_alert_header, gen_convenience_header

make some member functions on session_impl const
  fuzzers/src/dht_node.cpp
  include/libtorrent/aux_/session_impl.hpp
  include/libtorrent/aux_/session_interface.hpp
  include/libtorrent/kademlia/dht_observer.hpp
  simulation/test_dht_rate_limit.cpp
  src/session_impl.cpp
  test/session_mock.hpp
  test/test_dht.cpp
Due: gen_convenience_header

add torrent_conflict_alert
  bindings/python/src/alert.cpp
  docs/manual.rst
  include/libtorrent/alert.hpp
  include/libtorrent/alert_types.hpp
  simulation/test_v2.cpp
  src/alert.cpp
  src/torrent.cpp
  test/test_alert_types.cpp
Due: gen_alert_header, gen_convenience_header

add feature to create torrents that stress-test tracker handling
  examples/connection_tester.cpp
Due: none

When over the connection limit, treat partially downloaded but complete torrents the same as seeds when looking for a peer to replace with a potentially better one.
  src/session_impl.cpp
Due: none

extend write_torrent_file() with a flags parameter. Don't include DHT nodes by default
  bindings/python/src/converters.cpp
  bindings/python/src/session.cpp
  include/libtorrent/write_resume_data.hpp
  src/write_resume_data.cpp
  test/test_torrent_info.cpp
Due: gen_convenience_header

add magnet2torrent example
  examples/Jamfile
  examples/magnet2torrent.cpp
Due: none

listen-socket version
  include/libtorrent/aux_/announce_entry.hpp
  include/libtorrent/aux_/session_impl.hpp
  include/libtorrent/aux_/session_interface.hpp
  src/session_impl.cpp
  src/torrent.cpp
  test/session_mock.hpp
Due: none

new scrape_tracker and force_reannounce
  bindings/python/src/torrent_handle.cpp
  include/libtorrent/aux_/torrent.hpp
  include/libtorrent/torrent_handle.hpp
  src/torrent.cpp
  src/torrent_handle.cpp
Due: gen_convenience_header

factor out tracker list, enforce unique tracker URLs, add unit tests
  CMakeLists.txt
  Jamfile
  Makefile
  include/libtorrent/aux_/announce_entry.hpp
  include/libtorrent/aux_/torrent.hpp
  include/libtorrent/aux_/tracker_list.hpp
  src/announce_entry.cpp
  src/torrent.cpp
  src/tracker_list.cpp
  test/Jamfile
  test/test_tracker_list.cpp
Due: none

update python script that updates copyright headers
  tools/copyright.py
Due: none
