Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)

fix ostream << operator for strong typedefs to always print as integer
  include/libtorrent/units.hpp
Due: gen_convenience_header

fix clang-tidy
  .github/workflows/linux.yml
Due: none

prefer __builtin_popcountl() over portable C implementation of popcnt. This enables the ARM64 SIMD instruction on Apple M1
  src/bitfield.cpp
Due: none

simplify tests by defining a user defined literal for file_index_t
  test/test_alert_manager.cpp
  test/test_create_torrent.cpp
  test/test_file_storage.cpp
  test/test_hash_picker.cpp
  test/test_priority.cpp
  test/test_remap_files.cpp
  test/test_stat_cache.cpp
  test/test_storage.cpp
  test/test_torrent.cpp
  test/test_torrent_info.cpp
  test/test_utils.hpp
  test/web_seed_suite.cpp
Due: none

back-port fix to error handling of setting file priorities. Don't update m_file_priorities on disk error
  src/torrent.cpp
Due: none

add a file_prio_alert, posted when file priorities are applied
  ChangeLog
  bindings/python/src/alert.cpp
  include/libtorrent/alert_types.hpp
  include/libtorrent/torrent_handle.hpp
  src/alert.cpp
  src/torrent.cpp
  test/test_alert_types.cpp
Due: gen_alert_header, gen_convenience_header

bump version
  ChangeLog
  Jamfile
  Makefile
  bindings/python/setup.py
  docs/header.rst
  docs/hunspell/libtorrent.dic
  include/libtorrent/version.hpp
  src/settings_pack.cpp
Due: gen_convenience_header

make tests a bit more robust
  .github/workflows/windows.yml
  test/test_remove_torrent.cpp
  test/test_resume.cpp
Due: none

add piece_index_t user defined literal. make them constexpr
  test/test_utils.hpp
Due: none

use user defined literal for piece_index_t in tests
  test/setup_transfer.cpp
  test/swarm_suite.cpp
  test/test_alert_manager.cpp
  test/test_create_torrent.cpp
  test/test_fast_extension.cpp
  test/test_file_storage.cpp
  test/test_hash_picker.cpp
  test/test_merkle_tree.cpp
  test/test_part_file.cpp
  test/test_piece_picker.cpp
  test/test_priority.cpp
  test/test_read_piece.cpp
  test/test_read_resume.cpp
  test/test_resolve_links.cpp
  test/test_resume.cpp
  test/test_storage.cpp
  test/test_time_critical.cpp
  test/test_torrent.cpp
Due: none

attempt to make a flaky test a bit more reliable
  test/test_session.cpp
Due: none

add new torrent_file_with_hashes() which includes piece layers for creating .torrent files
  ChangeLog
  include/libtorrent/torrent.hpp
  include/libtorrent/torrent_handle.hpp
  include/libtorrent/torrent_info.hpp
  src/torrent.cpp
  src/torrent_handle.cpp
  src/torrent_info.cpp
  test/test_torrent_info.cpp
Due: gen_convenience_header

restore peer_connection::is_seed to not take m_have_all into account. It caused some regression in edge cases
  include/libtorrent/torrent.hpp
  src/peer_connection.cpp
  src/torrent.cpp
Due: gen_convenience_header

increase testing of torrent_file_with_hashes()
  simulation/test_transfer.cpp
  src/torrent_info.cpp
  test/test_torrent_info.cpp
  test/test_utils.cpp
  test/test_utils.hpp
Due: none

use /etc/ssl/cert.pem to validate HTTPS trackers and web servers on MacOS
  ChangeLog
  src/session_impl.cpp
Due: none

add new torrent_file_with_hashes() which includes piece layers (#6083)
  ChangeLog
  include/libtorrent/torrent.hpp
  include/libtorrent/torrent_handle.hpp
  include/libtorrent/torrent_info.hpp
  simulation/test_transfer.cpp
  src/torrent.cpp
  src/torrent_handle.cpp
  src/torrent_info.cpp
  test/test_torrent_info.cpp
  test/test_utils.cpp
  test/test_utils.hpp
Due: gen_convenience_header

add security audit documentation
  Makefile
  docs/2020 Q4 Mozilla Libtorrent Report Public Report.pdf
  docs/hunspell/libtorrent.dic
  docs/index.rst
  docs/makefile
  docs/security-audit.rst
Due: none

update identifications
  src/identify_client.cpp
Due: none

fix makefile to work when CXXFLAGS or LDFLAGS are empty
  Makefile
Due: none

fix version in Jamfile to correctly produce symlinks when installing
  Jamfile
  include/libtorrent/version.hpp
  tools/set_version.py
Due: gen_convenience_header

update fwd header
  include/libtorrent/fwd.hpp
Due: gen_convenience_header
