Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

gen_header:
  name: gen_header
  language: system
  entry: ./bindings/c/tools/gen_header.py

gen_alert_header:
  name: gen_alert_header
  language: system
  entry: ./bindings/c/tools/gen_alert_header.py

gen_convenience_header:
  name: gen_convenience_header
  language: system
  entry: ./tools/gen_convenience_header.py

fix destruction order of job-pool and file-pool
  include/libtorrent/aux_/disk_job_pool.hpp
  include/libtorrent/aux_/pool.hpp
  src/disk_job_pool.cpp
  src/mmap_disk_io.cpp
Due: none

more improvements to disk_io_stress_test
  tools/disk_io_stress_test.cpp
Due: none

Increase version number of upcoming branch
  Jamfile
  Makefile
  bindings/python/setup.py
  docs/header.rst
  include/libtorrent/version.hpp
  src/settings_pack.cpp
Due: gen_convenience_header

move the creation of directories and retrying opening a file for writing down the stack. This means multiple threads won't try to create the directories in parallel
  include/libtorrent/aux_/file_view_pool.hpp
  src/file_view_pool.cpp
  src/mmap_storage.cpp
Due: none

bump version to 2.1
  Jamfile
  Makefile
  bindings/python/setup.py
  docs/header.rst
  docs/hunspell/libtorrent.dic
  include/libtorrent/version.hpp
  src/settings_pack.cpp
Due: gen_convenience_header

remove unused variable in torrent::recalc_share_mode
  src/torrent.cpp
Due: none

Add forward declaration for some alerts
  include/libtorrent/fwd.hpp
Due: gen_convenience_header

add tool to benchmark hash-checking performance
  tools/Jamfile
  tools/checking_benchmark.cpp
Due: none

Optimize loading merkle tree mask
  src/read_resume_data.cpp
Due: none

backport fix to Mac Python CI
  .github/workflows/python.yml
Due: none

fix renaming of filenames that are too long for the filesystem. Specifically where checking if the file exists would abort the rename operation. patch by xnoreq
  ChangeLog
  src/path.cpp
Due: none

make the SOCKS5 client tolerate a domain name in the response to UDP ASSOCIATE (and ignore it). Patch by Andrei Borzenkov
  ChangeLog
  simulation/test_socks5.cpp
  src/udp_socket.cpp
Due: none

add torrent_flag to default all file priorities to dont_download
  ChangeLog
  bindings/python/src/session.cpp
  include/libtorrent/add_torrent_params.hpp
  include/libtorrent/torrent_flags.hpp
  src/magnet_uri.cpp
  src/torrent.cpp
Due: gen_convenience_header

Use lt::bitfield to represent merkle tree mask
  fuzzers/src/add_torrent.cpp
  include/libtorrent/add_torrent_params.hpp
  include/libtorrent/aux_/merkle_tree.hpp
  include/libtorrent/aux_/torrent.hpp
  include/libtorrent/bitfield.hpp
  src/bitfield.cpp
  src/hash_picker.cpp
  src/load_torrent.cpp
  src/merkle_tree.cpp
  src/read_resume_data.cpp
  src/torrent.cpp
  src/write_resume_data.cpp
  test/test_bitfield.cpp
  test/test_hash_picker.cpp
  test/test_merkle_tree.cpp
  test/test_read_resume.cpp
Due: gen_convenience_header

fix merging metadata with magnet links added on top of existing torrents
  ChangeLog
  src/torrent.cpp
Due: none

use pwrite() for writing to files in mmap_storage
  include/libtorrent/aux_/mmap.hpp
  src/mmap_storage.cpp
Due: none

CMake: Fix pdb installing
  CMakeLists.txt
Due: none

better thread names
  src/mmap_disk_io.cpp
  src/session.cpp
Due: none

improve printing downloading pieces in client_test
  examples/client_test.cpp
  examples/print.cpp
Due: none

Backport setup.py from master (RC_2_0 only)
  .pre-commit-config.yaml
  bindings/python/setup.py
  setup.py
Due: none

introduce setting for using pwrite in mmap_disk_storage
  CMakeLists.txt
  Jamfile
  Makefile
  bindings/python/src/session_settings.cpp
  docs/hunspell/libtorrent.dic
  include/libtorrent/aux_/drive_info.hpp
  include/libtorrent/aux_/file_descriptor.hpp
  include/libtorrent/aux_/win_file_handle.hpp
  include/libtorrent/mmap_storage.hpp
  include/libtorrent/settings_pack.hpp
  src/copy_file.cpp
  src/drive_info.cpp
  src/mmap_storage.cpp
  src/session_impl.cpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

bump python version to 3.7 in CI and docs
  .github/workflows/linux.yml
  appveyor.yml
  bindings/python/CMakeLists.txt
  configure.ac
  docs/python_binding.rst
Due: none

cibuildwheel 32-bit linux
  .github/workflows/cibuildwheel.yml
  pyproject.toml
Due: none

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)
