Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

gen_header:
  name: gen_header
  language: system
  entry: ./bindings/c/tools/gen_header.py

gen_alert_header:
  name: gen_alert_header
  language: system
  entry: ./bindings/c/tools/gen_alert_header.py

gen_convenience_header:
  name: gen_convenience_header
  language: system
  entry: ./tools/gen_convenience_header.py

build against OpenSSL by default
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  Jamfile
  docs/building.rst
  simulation/Jamfile
Due: none

fix issue where incoming uTP connections were not accepted over SOCKS5
  ChangeLog
  include/libtorrent/settings_pack.hpp
  include/libtorrent/udp_socket.hpp
  simulation/test_transfer.cpp
  simulation/utils.cpp
  simulation/utils.hpp
  src/session_impl.cpp
  src/settings_pack.cpp
  src/udp_socket.cpp
Due: gen_header, gen_convenience_header

back-port fix for accepting incoming connections over socks5
  src/session_impl.cpp
Due: none

Add missing include for get_ssl_category
  bindings/python/src/error_code.cpp
Due: none

use cached DNS resolver for socks5 proxy
  ChangeLog
  include/libtorrent/udp_socket.hpp
  src/session_impl.cpp
  src/udp_socket.cpp
Due: gen_convenience_header

enable close_file_interval by default on windows, set to 240 seconds
  include/libtorrent/settings_pack.hpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

factor out storage index free list from mmap_disk_io and posix_disk_io
  CMakeLists.txt
  Makefile
  include/libtorrent/aux_/storage_free_list.hpp
  src/mmap_disk_io.cpp
  src/posix_disk_io.cpp
Due: none

Explicitly cast Extract'ed strings
  bindings/python/src/converters.cpp
Due: none

Backport 2f9ed031d (disable deprecated boost.asio APIs)
  bindings/python/src/converters.cpp
  bindings/python/src/ip_filter.cpp
Due: none

fix build with WolfSSL
  ChangeLog
  src/random.cpp
Due: none

fix missing include in python binding, torrent_info
  bindings/python/src/torrent_info.cpp
Due: none

explicitly FlushViewOfFile() on windows when closing a file and periodically the file with most dirty bytes
  ChangeLog
  Jamfile
  include/libtorrent/aux_/file_view_pool.hpp
  include/libtorrent/aux_/mmap.hpp
  src/file_view_pool.cpp
  src/mmap.cpp
  src/mmap_disk_io.cpp
  src/mmap_storage.cpp
Due: none

bump version to 1.2.15
  ChangeLog
  Jamfile
  bindings/python/setup.py
  build_dist.sh
  configure.ac
  docs/header.rst
  docs/hunspell/libtorrent.dic
  include/libtorrent/version.hpp
  src/settings_pack.cpp
Due: gen_convenience_header

use cxxflags feature instead of cflags. It seems the msvc toolset doesn't apply cflags to C++ builds
  Jamfile
  bindings/python/Jamfile
Due: none

Add a cibuildwheel workflow
  .github/workflows/cibuildwheel.yml
  .pre-commit-config.yaml
  pyproject.toml
  tools/cibuildwheel/manylinux/build-openssl.sh
  tools/cibuildwheel/manylinux/build_utils.sh
  tools/cibuildwheel/manylinux/openssl-version.sh
  tools/cibuildwheel/setup_boost.sh
  tools/cibuildwheel/setup_ccache_on_manylinux.sh
  tools/cibuildwheel/setup_openssl.sh
Due: none

allow unspecified address for android api >= 24
  src/session_impl.cpp
Due: none

include capital letters in client_tests parsing of drive-letters
  examples/client_test.cpp
Due: none

don't propagate boost header path, propagate the target dependency
  CMakeLists.txt
Due: none

fix warnings
  src/session_impl.cpp
  test/setup_transfer.cpp
Due: none

fix MacOS support for building against gnutls
  Jamfile
Due: none

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)
