Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

gen_header:
  name: gen_header
  language: system
  entry: ./bindings/c/tools/gen_header.py

gen_alert_header:
  name: gen_alert_header
  language: system
  entry: ./bindings/c/tools/gen_alert_header.py

gen_convenience_header:
  name: gen_convenience_header
  language: system
  entry: ./tools/gen_convenience_header.py

don't call 'python3 setup.by build' from cmake, it does nothing
  bindings/python/CMakeLists.txt
Due: none

don't append python bindings src path to module version
  bindings/python/CMakeLists.txt
Due: none

mark read_cache_line_size and write_cache_line_size as deprecated. The no longer affect anything
  include/libtorrent/settings_pack.hpp
  src/session.cpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

measure memory usage in benchmarks (on linux). improve tests by using exit-when-finished feature of client_test
  tools/benchmark_checking.py
  tools/linux_vmstat.py
  tools/run_benchmark.py
Due: none

deprecate (unused) volatile_read_cache setting
  ChangeLog
  include/libtorrent/settings_pack.hpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

improve name of peer_connection::verify_piece
  include/libtorrent/peer_connection.hpp
  src/bt_peer_connection.cpp
  src/peer_connection.cpp
Due: gen_convenience_header

fix MacOS python binding install on CI
  .github/workflows/python.yml
Due: none

test
  .github/workflows/python.yml
Due: none

use github's native cancel previous jobs
  .github/workflows/android.yml
  .github/workflows/c.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/docs.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/python.yml
Due: none

use github's native cancel previous jobs
  .github/workflows/android.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/docs.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/python.yml
Due: none

comment out running python tests on MacOS, since CI is failing
  .github/workflows/python.yml
Due: none

only use the homebrew include directory on Mac
  Jamfile
Due: none

update LICENSE file to include ed25519 license
  LICENSE
  ed25519/license.txt
  ed25519/readme.md
Due: none

use MADV_NOCORE on BSD systems
  src/mmap.cpp
Due: none

rename file-flags to file-mode (since its type is open_mode_t)
  src/mmap_disk_io.cpp
  src/mmap_storage.cpp
Due: none

use MADV_DONTNEED/MADV_COLD for volatile_reads (when checking files)
  include/libtorrent/aux_/mmap.hpp
  include/libtorrent/mmap_storage.hpp
  src/mmap.cpp
  src/mmap_disk_io.cpp
  src/mmap_storage.cpp
Due: gen_convenience_header

fix potential unbounded recursion in add_completed_jobs()
  ChangeLog
  include/libtorrent/tailqueue.hpp
  src/mmap_disk_io.cpp
Due: gen_convenience_header

fix similar torrents feature for v2 torrents
  ChangeLog
  Makefile
  include/libtorrent/resolve_links.hpp
  src/resolve_links.cpp
  src/storage_utils.cpp
  test/Jamfile
  test/test_similar_torrent.cpp
Due: gen_convenience_header

fix similar torrents feature for v2 torrents
  ChangeLog
  src/mmap_disk_io.cpp
  src/mmap_storage.cpp
Due: none

fix disk-full error reporting in mmap_disk_io
  ChangeLog
  src/mmap_disk_io.cpp
  src/mmap_storage.cpp
Due: none

deprecate (unused) allow_partial_disk_writes settings
  ChangeLog
  include/libtorrent/settings_pack.hpp
  src/settings_pack.cpp
Due: gen_header, gen_convenience_header

assert valid flags in disk interface functions
  src/mmap_disk_io.cpp
Due: none

fix warning with valid_flags
  src/mmap_disk_io.cpp
Due: none

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)
