Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

gen_header:
  name: gen_header
  language: system
  entry: ./bindings/c/tools/gen_header.py

gen_alert_header:
  name: gen_alert_header
  language: system
  entry: ./bindings/c/tools/gen_alert_header.py

gen_convenience_header:
  name: gen_convenience_header
  language: system
  entry: ./tools/gen_convenience_header.py

remove unused recursive_copy function
  include/libtorrent/aux_/path.hpp
  src/path.cpp
  test/test_file.cpp
Due: none

amend move and file priority documentation
  include/libtorrent/torrent_handle.hpp
Due: gen_convenience_header

fix use of reserved names
  include/libtorrent/assert.hpp
  simulation/test_transfer_matrix.cpp
  test/main.cpp
  test/setup_transfer.cpp
  test/test.cpp
  test/test.hpp
Due: gen_convenience_header

fix directory creation on windows shared folders
  ChangeLog
  src/mmap_storage.cpp
  src/posix_storage.cpp
Due: none

add function to truncate over-sized files part of a torrent
  CMakeLists.txt
  ChangeLog
  Jamfile
  Makefile
  include/libtorrent/truncate.hpp
  src/truncate.cpp
  test/Jamfile
  test/test_truncate.cpp
Due: gen_convenience_header

set lower memory priority for disk I/O threads on windows
  src/mmap_disk_io.cpp
Due: none

improve copy_file() to preserve sparse regions on systems supporting SEEK_HOLE/SEEK_DATA
  CMakeLists.txt
  ChangeLog
  Jamfile
  Makefile
  include/libtorrent/config.hpp
  src/copy_file.cpp
  src/path.cpp
  test/Jamfile
  test/test_copy_file.cpp
Due: gen_convenience_header

make recheck files also update which files use partfile
  ChangeLog
  src/mmap_storage.cpp
  src/posix_storage.cpp
Due: none

fix backtraces in debug builds
  Jamfile
Due: none

add more asserts around mmap_disk_io shutdown
  include/libtorrent/aux_/storage_free_list.hpp
  include/libtorrent/aux_/store_buffer.hpp
  src/mmap_disk_io.cpp
  src/session_impl.cpp
  test/test_storage.cpp
Due: none

bump boost version on windows CI in order to have boost-build work with the newer msvc
  .github/workflows/python.yml
  .github/workflows/windows.yml
  Jamfile
  bindings/python/Jamfile
  examples/Jamfile
  simulation/Jamfile
  test/Jamfile
  tools/Jamfile
Due: none

use native mechanism to cancel previous runs in github actions
  .github/workflows/cibuildwheel.yml
  .github/workflows/docs.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/python.yml
  .github/workflows/windows.yml
Due: none

fix python binding for peer_info::connection_type
  bindings/python/src/peer_info.cpp
Due: none

use a namespace for unit test framework globals rather than reserved identifiers
  include/libtorrent/assert.hpp
  simulation/create_torrent.cpp
  simulation/setup_swarm.cpp
  simulation/test_error_handling.cpp
  simulation/test_swarm.cpp
  test/main.cpp
  test/setup_transfer.cpp
  test/setup_transfer.hpp
  test/test.cpp
  test/test.hpp
Due: gen_convenience_header

lower the timeout of windows CI to install OpenSSL from 30 -> 5 minutes
  .github/workflows/python.yml
Due: none

fix issue creating v2 torrent from torrent_info with empty file
  ChangeLog
  src/create_torrent.cpp
  test/test_create_torrent.cpp
  test/test_torrents/v2_empty_file.torrent
Due: none

Update boost on windows simulation and build
  .github/workflows/windows.yml
Due: none

add new alert, oversized_file_alert, posted when an existing file in a torrent is found to have a greater size than the file according to the torrent file
  include/libtorrent/alert_types.hpp
  include/libtorrent/aux_/posix_storage.hpp
  include/libtorrent/aux_/storage_utils.hpp
  include/libtorrent/mmap_storage.hpp
  include/libtorrent/storage_defs.hpp
  src/alert.cpp
  src/mmap_disk_io.cpp
  src/mmap_storage.cpp
  src/posix_disk_io.cpp
  src/posix_storage.cpp
  src/storage_utils.cpp
  src/torrent.cpp
  test/test_alert_types.cpp
  test/test_storage.cpp
Due: gen_alert_header, gen_convenience_header

Send a User-Agent field in HTTP tracker requests in anonymous mode. It appears some trackers require this field and will fail with 'Forbidden' otherwise.
  ChangeLog
  include/libtorrent/settings_pack.hpp
  simulation/test_tracker.cpp
  src/http_tracker_connection.cpp
Due: gen_header, gen_convenience_header

add test
  src/mmap_storage.cpp
  src/posix_storage.cpp
  test/test_storage.cpp
Due: none

make the disk buffer pool implement the buffer_allocator_interface to simplify its use
  include/libtorrent/aux_/disk_buffer_pool.hpp
  src/mmap_disk_io.cpp
  src/posix_disk_io.cpp
Due: none

Add a pre-commit autoupdate cron job
  .github/workflows/pre_commit_autoupdate.yml
Due: none

Add dependabot config
  .github/dependabot.yml
Due: none

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)
