Repository arvidn/libtorrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_header, gen_alert_header, gen_convenience_header

Path conditions:
  gen_header: any of: ^include/libtorrent/settings_pack.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_alert_header: any of: ^include/libtorrent/alert_types.hpp$, but not: (?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$

  gen_convenience_header: any of: (?x)^(
  include/libtorrent/[^/]*\.hpp|
  include/libtorrent/kademlia/[^/]*\.hpp|
  include/libtorrent/extensions/[^/]*\.hpp
)$
 and not ((?x)/(
  libtorrent.hpp|
  storage.hpp|
  io_service.hpp
)$
) and not ((?x)^(
    # These files are vendored from elsewhere, don't process them
    LICENSE|
    docs/hunspell/.*|
    src/ed25519/.*|
    include/libtorrent/aux_/route\.h|
    test/.*\.xml|
    test/ssl/.*\.pem
)$
)

remove unused code in piece picker
  include/libtorrent/aux_/piece_picker.hpp
  src/piece_picker.cpp
  src/torrent.cpp
Due: none

fix symlinks without version number being created when installing
  Jamfile
Due: none

make the target library name more regular across platforms and static/shared linking. always make it libtorrent-rasterbar
  Jamfile
Due: none

improve including dependencies in package config file
  Jamfile
Due: none

wrap passing in torrent_info into libtorrent from python, to always make a copy of it, that's constructed without any ownership dependency on python
  bindings/python/src/session.cpp
Due: none

one more fix for android 32 bit issues with fseeko
  include/libtorrent/config.hpp
Due: gen_convenience_header

fix need_save_resume_data() for renaming files, share-mode, upload-mode, disable- pex, lsd, and dht.
  ChangeLog
  src/torrent.cpp
Due: none

honor CXXFLAGS and LDFLAGS environment variable when building the python binding. This is a stop-gap until build scripts pass in extra build and link arguments on the command line instead
  bindings/python/Jamfile
Due: none

improve comment in piece-picker
  include/libtorrent/piece_picker.hpp
Due: gen_convenience_header

prevent duplicate args being passed to b2 in setup.py
  bindings/python/setup.py
Due: none

fix LGTM python warning in setup.py
  bindings/python/setup.py
Due: none

clarify that torrent_info::total_size() include the size of pad-files
  ChangeLog
  include/libtorrent/torrent_info.hpp
  simulation/test_auto_manage.cpp
  src/file_storage.cpp
Due: gen_convenience_header

fix python binding for get_torrent_status() where a predicate is passed in
  ChangeLog
  bindings/python/src/session.cpp
Due: none

mark need-save-resume when adding a tracker
  src/torrent.cpp
Due: none

fix super-seeding issue that could cause a segfault
  ChangeLog
  src/peer_connection.cpp
Due: none

add flag to force canonical file order and padding for v1-only torrents
  bindings/python/src/create_torrent.cpp
  include/libtorrent/create_torrent.hpp
  src/create_torrent.cpp
Due: gen_convenience_header

fix issue where set_piece_hashes() would not propagate file errors
  ChangeLog
  include/libtorrent/create_torrent.hpp
  src/create_torrent.cpp
Due: gen_convenience_header

Use tox for running tests. Rework python library/include path detection.
  .github/workflows/python.yml
  bindings/python/setup.py
  tox.ini
Due: none

fix issue when failing to parse outgoing_interfaces setting
  ChangeLog
  include/libtorrent/settings_pack.hpp
  src/session_impl.cpp
Due: gen_header, gen_convenience_header

add size_on_disk() to file_storage and torrent_info, reporting the total size of non-pad files
  bindings/python/src/create_torrent.cpp
  bindings/python/src/torrent_info.cpp
  include/libtorrent/file_storage.hpp
  include/libtorrent/torrent_info.hpp
  src/file_storage.cpp
  test/test_file_storage.cpp
Due: gen_convenience_header

deprecate sha-1 file hashes (torrent file extension field)
  bindings/python/src/create_torrent.cpp
  include/libtorrent/aux_/export.hpp
  include/libtorrent/aux_/file_progress.hpp
  include/libtorrent/aux_/file_view_pool.hpp
  include/libtorrent/file_storage.hpp
  include/libtorrent/fwd.hpp
  src/file_storage.cpp
  src/torrent_info.cpp
  test/test_file_storage.cpp
  test/test_torrent_info.cpp
  tools/gen_fwd.py
Due: gen_convenience_header
